<%- include('header'); -%>

    <div class="box" id="heading">
        <h1><%= ListTitle %></h1>
    </div>

    <div class="box">

        <% for (item = 0;item < AddItems.length ; item++) {%>
        <div class="item">
            <input type="checkbox">
            <p><%= AddItems[item] %></p>
        </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="Newitem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= ListTitle %>>+</button>
        </form>            
    
    </div>

    <%- include('footer'); -%>